h2{
    color: aqua;
 font-family: "Roboto"
}
h1{
    color: brown;
    text-align: center;
        border: 3px dashed blue;
        width: 30%;
}
h2,p{
    color: blueviolet!important
}
.learn{
    color: rgb(21, 255, 0);
}
 .first> p {
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: .5em;
    width: 10%;
}
.first:hover {
    color: tomato;
} 
.ttt{
    width: 150PX;
    height: 50%;
}
.text11{
    text-decoration: underline;
}
h4{
    font-size: 50px;
}





.block{
    display: block;
}
.mahjoub{
    display: inline;
}

.monsof{
        width: 150px;
        height: 150px;
        border: 1px solid red;
        display: inline-block;
}
h1{
    
border: 2px solid red
}

.text11:hover{
    color: black
}

















